
/* Video background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

/* Clean section separators */
.section-divider {
  position: relative;
  height: 100px;
  margin-top: -50px;
  margin-bottom: -50px;
  z-index: 1;
}

.section-divider svg {
  position: absolute;
  width: 100%;
  height: 100px;
}
